.sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 1.6rem;
    padding: 1rem;
}

.items-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-row {
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    position: relative;
    width: 120rem;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 3rem;

}

.items-entries.line-through {
    text-decoration: line-through;

}

.items-row::after {
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, 0.14);
    position: absolute;
    width: 100%;
    top: 3rem;
    bottom: 0;
}

.name-span,
.price-span,
.quantity-span,
.total-price-span {
    font-weight: bold;
}

.total-combined-price-wrap {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.total-combined-price {
    font-weight: bold;
}

.button-wrapper {
    padding-left: 0.5rem;
    display: flex;
    gap: 1rem;
}

.button-quantity{
    width: 12rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-style: none;
    box-shadow: 0 0 2px black;

}

.checkbox{
    display: flex;
    font-size: 1.6rem;
    gap: 1rem;
}